{% extends "base.html" %}
{% block content %}
<p>
<a href="/platinum/browse">Library</a>
{% for c_uri, c_name, c_path in breadcrumb_links %}
&raquo; <a href="/platinum/browse?uri={{ url_escape(c_uri) }}&amp;name={{ url_escape(c_name) }}&amp;path={{ url_escape(c_path) }}">{{ c_name }}</a>
{% end %}
{% if current_name %}
&raquo; <b>{{ current_name }}</b>
{% end %}
</p>
{% if refs %}
<table class="list-table" width="100%" cellpadding="3" cellspacing="0" border="0">
{% for i, ref in enumerate(refs) %}
{% set track = tracks_by_uri.get(ref.uri) %}
<tr class="{{ 'row-alt' if i % 2 else '' }}">
<td width="36"><img src="/platinum/art?uri={{ url_escape(ref.uri) }}&amp;size=32&amp;type={{ ref.type }}" width="32" height="32" alt="" border="1"></td>
<td width="36%">
{% if ref.type == "track" %}
{{ ref.name or ref.uri }}
{% else %}
<a href="/platinum/browse?uri={{ url_escape(ref.uri) }}&amp;name={{ url_escape(ref.name or ref.uri) }}&amp;path={{ url_escape(child_path) }}">{{ ref.name or ref.uri }}{{ ' /' if ref.type == 'directory' else '' }}</a>
{% end %}
</td>
<td width="12%">{{ format_time(track.length) if track and track.length else "" }}</td>
<td width="22%">{{ album_name(track) or "" }}</td>
<td width="24%" align="right">
{% if ref.type == "track" %}
<form method="post" action="/platinum/play" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="hidden" name="uri" value="{{ ref.uri }}">
<input type="submit" class="os9-button primary-button" value="Play Next" onclick="return withFeedback(this)">
</form>
<form method="post" action="/platinum/queue/add" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="hidden" name="uri" value="{{ ref.uri }}">
<input type="submit" class="os9-button" value="Add to End" onclick="return withFeedback(this)">
</form>
{% end %}
</td>
</tr>
{% end %}
</table>
{% if load_more_url %}
<p><a href="{{ load_more_url }}">Load more&#8230; ({{ total_count - len(refs) }} remaining)</a></p>
{% end %}
{% else %}
<p><i>This folder is empty.</i></p>
{% end %}
{% end %}
