{% extends "base.html" %}
{% block head %}
{% if refresh_interval %}
<meta http-equiv="refresh" content="{{ refresh_interval }};url=/platinum/?_={{ cache_bust }}">
{% end %}
{% end %}
{% block content %}
<table width="100%" cellpadding="4" cellspacing="0" border="0">
<tr>
{% if track_uri %}
<td width="70" valign="top"><img src="/platinum/art?uri={{ url_escape(track_uri) }}&amp;size=64" width="64" height="64" alt="Album art" border="1"></td>
{% end %}
<td valign="top">
<iframe class="status-frame" src="/platinum/status" width="260" height="80" frameborder="0" marginwidth="0" marginheight="0" scrolling="no">
<p class="track-name">{{ track_name or "(Nothing playing)" }}</p>
<p class="track-status">{{ state.capitalize() }} &mdash; {{ time_position }} / {{ duration }}</p>
</iframe>
</td>
</tr>
<tr><td colspan="2" align="center">
<form method="post" action="/platinum/control" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="hidden" name="action" value="previous">
<input type="image" class="os9-button" src="/platinum/static/icon-prev.png" width="18" height="18" alt="Previous" title="Previous" onclick="return withFeedback(this)">
</form>
<form method="post" action="/platinum/control" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="hidden" name="action" value="{{ 'pause' if is_playing else 'play' }}">
<input type="image" class="os9-button primary-button" src="{{ '/platinum/static/icon-pause.png' if is_playing else '/platinum/static/icon-play.png' }}" width="18" height="18" alt="{{ 'Pause' if is_playing else 'Play' }}" title="{{ 'Pause' if is_playing else 'Play' }}" onclick="return withFeedback(this)">
</form>
<form method="post" action="/platinum/control" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="hidden" name="action" value="stop">
<input type="image" class="os9-button" src="/platinum/static/icon-stop.png" width="18" height="18" alt="Stop" title="Stop" onclick="return withFeedback(this)">
</form>
<form method="post" action="/platinum/control" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="hidden" name="action" value="next">
<input type="image" class="os9-button" src="/platinum/static/icon-next.png" width="18" height="18" alt="Next" title="Next" onclick="return withFeedback(this)">
</form>
<form method="post" action="/platinum/shuffle" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="image" class="os9-button {{ 'toggle-active' if is_random else '' }}" src="/platinum/static/icon-shuffle.png" width="18" height="18" alt="{{ 'Shuffle Off' if is_random else 'Shuffle On' }}" title="{{ 'Shuffle Off' if is_random else 'Shuffle On' }}" onclick="return withFeedback(this)">
</form>
</td></tr>
<tr><td colspan="2" align="center">
<form method="post" action="/platinum/volume" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
Volume:
<select name="level" class="os9-select" onchange="this.form.submit()">
{% if volume is None %}
<option value="" selected>?</option>
{% end %}
{% for pct in range(0, 101, 10) %}
<option value="{{ pct }}" {{ 'selected' if volume_step == pct else '' }}>{{ pct }}%</option>
{% end %}
</select>
<input type="submit" class="os9-button" value="Set" onclick="return withFeedback(this)">
</form>
<form method="post" action="/platinum/volume" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="hidden" name="mute" value="{{ '0' if mute else '1' }}">
<input type="submit" class="os9-button" value="{{ 'Unmute' if mute else 'Mute' }}" onclick="return withFeedback(this)">
</form>
</td></tr>
</table>
<hr>
<p>
<b>Up Next</b>{{ ' (shuffled -- only the very next track is predictable)' if is_random else '' }}
</p>
{% if upcoming %}
<table class="list-table" width="100%" cellpadding="3" cellspacing="0" border="0">
{% for i, tl_track in enumerate(upcoming) %}
<tr class="{{ 'row-alt' if i % 2 else '' }}">
<td>{{ track_display_name(tl_track.track) }}</td>
<td width="1" align="right">
<form method="post" action="/platinum/queue/play" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="hidden" name="tlid" value="{{ tl_track.tlid }}">
<input type="submit" class="os9-button" value="Play Now" onclick="return withFeedback(this)">
</form>
</td>
</tr>
{% end %}
</table>
{% else %}
<p><i>Queue is empty.</i></p>
{% end %}
{% end %}
