{% extends "base.html" %}
{% block title %}{{ name }} - Mopidy{% end %}
{% block content %}
<p><a href="/platinum/playlists">Playlists</a> &raquo; <b>{{ name }}</b>{% if source_label(uri) %} <span class="source-tag">{{ source_label(uri) }}</span>{% end %}</p>
{% if tracks %}
<form method="post" action="/platinum/playlist/play" style="display:inline">
<input type="hidden" name="uri" value="{{ uri }}">
<input type="hidden" name="name" value="{{ name }}">
<input type="hidden" name="shuffle" value="0">
<input type="submit" class="os9-button" value="Play All">
</form>
<form method="post" action="/platinum/playlist/play" style="display:inline">
<input type="hidden" name="uri" value="{{ uri }}">
<input type="hidden" name="name" value="{{ name }}">
<input type="hidden" name="shuffle" value="1">
<input type="submit" class="os9-button" value="Shuffle All">
</form>
<br><br>
<table width="100%" cellpadding="3" cellspacing="0" border="0">
{% for track in tracks %}
<tr>
<td width="36"><img src="/platinum/art?uri={{ url_escape(track.uri) }}&amp;size=32" width="32" height="32" alt="" border="1"></td>
<td width="34%">{{ track_display_name(track) }}</td>
<td width="12%">{{ format_time(track.length) if track.length else "" }}</td>
<td width="18%">{{ album_name(track) or "" }}</td>
<td width="24%" align="right">
<form method="post" action="/platinum/play" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="hidden" name="uri" value="{{ track.uri }}">
<input type="submit" class="os9-button" value="Play">
</form>
<form method="post" action="/platinum/queue/add" style="display:inline">
<input type="hidden" name="return_to" value="{{ request.uri }}">
<input type="hidden" name="uri" value="{{ track.uri }}">
<input type="submit" class="os9-button" value="+ Queue">
</form>
</td>
</tr>
{% end %}
</table>
{% if load_more_url %}
<p><a href="{{ load_more_url }}">Load more&#8230; ({{ total_count - len(tracks) }} remaining)</a></p>
{% end %}
{% else %}
<p><i>This playlist is empty.</i></p>
{% end %}
{% end %}
